
<div class="col-sm-4 col-md-4">
  <div class="thumbnail">
    <img src="<%= pet.picture %>" alt="<%= pet.name %>" class="img-thumbnail">
    <div class="caption">
      <h3><%= pet.category %> <%= pet.type %></h3>
      <b>Size/Color</b>: <%= pet.size %>, <%= pet.color %><br>
      <b>Posted on</b>: <%= pet.createdAt.toDateString() %><br>
      <b>Updated</b>: <%= pet.updatedAt.toDateString() %><br>
      <a class="btn btn-default" href="/pets/<%= pet.id %>" role="button">More Info</a>

			<% if (user) { %>
				<%if(user.pets.some(myPet => myPet._id.equals(pet.id))) { %>
	      <form id="button-delete" action="/pets/<%= pet.id %>/edit" method="GET">
	        <button class="btn btn-default" type="submit" >Edit</button>
	      </form>
	      <form id="button-delete" action="/pets/<%= pet.id %>?_method=DELETE" method="POST">
	        <button class="btn btn-default" type="submit">DELETE</button>
	      </form>
	      <% } %>
			<% } %>
    </div>
  </div>
</div>
