
<div class="col-sm-4 col-md-4">
  <div class="thumbnail">
    <img src="<%= pet.picture %>" alt="<%= pet.name %>" class="img-thumbnail">
    <div class="caption">
      <h3><%= pet.category %> <%= pet.type %></h3>
      <b>Size/Color</b>: <%= pet.size %>, <%= pet.color %><br>
      <!-- <b>Breed/Sex</b>: <%= pet.breed %>, <%= pet.sex %><br> -->
      <!-- <b>Pet Name</b>: <%= pet.name %><br> -->
      <!-- <b>Location</b>: <%= pet.street %><br> -->
      <!-- <b>City, State</b>: <%= pet.city %>, <%= pet.state %><br> -->
      <!-- <b>Contact</b>: <%= pet.contact %><br> -->
      <!-- <b>Description</b>: <%= pet.description %><br> -->
      <b>Posted on</b>: <%= pet.createdAt.toDateString() %><br>
      <b>Updated</b>: <%= pet.updatedAt.toDateString() %><br>
      <a class="btn btn-default" href="/pets/<%= pet.id %>" role="button">More Info</a>

			<% if (user) { %>
	      <form id="button-delete" action="/pets/<%= pet.id %>/edit" method="GET">
	        <button class="btn btn-default" type="submit"
	        <%= user.pets.some(myPet => myPet._id.equals(pet.id)) ? '' : "disabled" %> >Edit</button>
	      </form>
	      <form id="button-delete" action="/pets/<%= pet.id %>?_method=DELETE" method="POST">
	        <button class="btn btn-default" type="submit" <%= user.pets.some(myPet => myPet._id.equals(pet.id)) ? '' : "disabled" %>>DELETE</button>
	      </form>
			<% } %>
    </div>
  </div>
</div>
