
<% include partials/_header %>
<% include partials/_nav %>

<div class="container">
  <h3>EDIT:</h3>
  <form method="POST" action="/pets/<%= pet._id %>?_method=PUT">
    <div class="row">
      <div class="col-xs-6">
        <label for="category">Category</label>
        <select class="form-control" name="category">
          <% if(pet.category === 'Lost') { %>
            <option selected>Lost</option>
            <option>Found</option>
          <% } else { %>
            <option>Lost</option>
            <option selected>Found</option>
          <% } %>
        </select>
      </div>
      <div class="col-xs-6">
        <label for="type">Type</label>
        <select class="form-control" name="type">
          <% if(pet.type === 'Cat') { %>
            <option selected>Cat</option>
            <option>Dog</option>
          <% } else { %>
            <option>Cat</option>
            <option selected>Dog</option>
          <% } %>
        </select>
      </div>
    </div><br>
    <div class="row">
      <div class="col-xs-6">
        <label for="sex">Sex</label>
        <select class="form-control" name="sex">
          <% if(pet.sex === 'Female') { %>
            <option selected>Female</option>
            <option>Male</option>
            <option>N/A</option>
          <% } else if(pet.sex ==='Male') { %>
            <option>Female</option>
            <option selected>Male</option>
            <option>N/A</option>
          <% } else { %>
            <option>Female</option>
            <option>Male</option>
            <option selected>N/A</option>
          <% } %>
        </select>
      </div>
      <div class="col-xs-6">
        <label for="size">Size</label>
        <select class="form-control" name="size">
          <% if(pet.size === 'Small') { %>
            <option selected>Small</option>
            <option>Medium</option>
            <option>Large</option>
            <option>N/A</option>
          <% } else if(pet.size ==='Medium') { %>
            <option>Small</option>
            <option selected>Medium</option>
            <option>Large</option>
            <option>N/A</option>
          <% } else if(pet.size === 'Large') { %>
            <option>Small</option>
            <option>Medium</option>
            <option selected>Large</option>
            <option>N/A</option>
          <% } else { %>
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option>
            <option selected>N/A</option>
          <% } %>
        </select>
      </div>
    </div><br>
    <div class="row">
      <div class="col-xs-4">
        <label for="name">Name</label>
        <input name="name" class="form-control" id="name" value="<%= pet.name %>">
      </div>
      <div class="col-xs-4">
        <label for="breed">Breed</label>
        <input name="breed" class="form-control" id="breed" value="<%= pet.breed %>">
      </div>
      <div class="col-xs-4">
        <label for="petColor">Color</label>
        <input name="color" class="form-control" id="petColor" value="<%= pet.color %>">
      </div>
    </div><br>
    <div class="row">
      <div class="col-xs-4">
        <label for="street">Street</label>
        <input name="street" class="form-control" id="street" value="<%= pet.street %>">
      </div>
      <div class="col-xs-4">
        <label for="city">City</label>
        <input name="city" class="form-control" id="city" value="<%= pet.city %>">
      </div>
      <div class="col-xs-4">
        <label for="state">State</label>
        <input name="state" class="form-control" id="state" value="<%= pet.state %>">
      </div>
    </div><br>
    <div class="form-group">
     <label for="contact">Contact</label>
     <input name="contact" class="form-control" id="contact" placeholder="Contact information">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input name="description" class="form-control" id="description" value="<%= pet.description %>">
    </div>
   <div class="form-group">
      <label for="picture">Link to a picture</label>
      <input name="picture" class="form-control" id="picture" value="<%= pet.picture %>">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <form id="button-delete" action="/pets/<%= pet.id %>?_method=DELETE" method="POST">
      <button class="btn btn-default" type="submit">DELETE</button>
    </form><br>
  </form>
</div>











<% include partials/_footer %>
