
<% include partials/_header %>
<% include partials/_nav %>

<div class="container">
  <h3>EDIT:</h3>
  <form method="POST" action="pets/<%= pet._id %>?_method=PUT">
    <div class="row">
      <div class="col-xs-6">
        <label for="category">Category</label>
        <select class="form-control" name="category">
          <% if(pet.category === 'Lost') { %>
            <option selected>Lost</option>
          <% } else { %>
            <option selected>Found</option>
          <% } %>
        </select>
      </div>
      <div class="col-xs-6">
        <label for="type">Type</label>
        <select class="form-control" name="type">
          <% if(pet.type === 'Cat') { %>
            <option selected>Cat</option>
          <% } else { %>
            <option selected>Dog</option>
          <% } %>
        </select>
      </div>
    </div><br>
    <div class="row">
      <div class="col-xs-6">
        <label for="sex">Sex</label>
        <select class="form-control" name="sex">
          <% if(pet.sex === 'Female') { %>
            <option selected>Female</option>
          <% } else if(pet.sex ==='Male') { %>
            <option selected>Male</option>
          <% } else { %>
            <option selected>N/A</option>
          <% } %>
        </select>
      </div>
      <div class="col-xs-6">
        <label for="size">Size</label>
        <select class="form-control" name="size">
          <% if(pet.size === 'Small') { %>
            <option selected>Small</option>
          <% } else if(pet.size ==='Medium') { %>
            <option selected>Medium</option>
          <% } else if(pet.size === 'Large') { %>
            <option selected>Large</option>
          <% } else { %>
            <option selected>N/A</option>
          <% } %>
        </select>
      </div>
    </div><br>
    <div class="row">
      <div class="col-xs-6">
        <label for="name">Name</label>
        <input name="name" class="form-control" id="name" value="<%= pet.name %>">
      </div>
      <div class="col-xs-6">
        <label for="breed">Breed</label>
        <input name="breed" class="form-control" id="breed" value="<%= pet.breed %>">
      </div>
    </div><br>
    <div class="row">
      <div class="col-xs-6">
        <label for="petColor">Color</label>
        <input name="color" class="form-control" id="petColor" value="<%= pet.color %>">
      </div>
      <div class="col-xs-6">
        <label for="age">Age</label>
        <input name="age" class="form-control" id="age" value="<%= pet.age %>">
      </div>
    </div><br>
    <div class="form-group">
      <label for="location">Location</label>
      <input name="location" class="form-control" id="location" value="<%= pet.location %>">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input name="description" class="form-control" id="description" value="<%= pet.description %>">
    </div>
   <div class="form-group">
      <label for="picture">Link to a picture</label>
      <input name="picture" class="form-control" id="picture" value="<%= pet.picture %>">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>











<% include partials/_footer %>
