<% include partials/_header %>
<% include partials/_nav %>

<div class="container">
	<center>
	<h1><%= user.name %>'s Pets</h1>
	<% if (user.email) { %>
		<h3>Email: <%= user.email %></h3><br>
	<% } %>
	</center>

	<% if (!user.pets === false) { %>
		<% user.pets.forEach((pet)=>{%>
			<div class="col-sm-4 col-md-4">
					<div class="thumbnail">
						<img src="<%= pet.picture %>">
					</div>
				<div class="caption">
					Pet Status: <%= pet.category %><br>
					Pet Name: <%= pet.name %><br>
					Pet Sex: <%= pet.sex %><br>
					Pet Size: <%= pet.size %><br>
					Pet Breed: <%= pet.breed %><br>
					Pet Color: <%= pet.color %><br>
					<a class="btn btn-default" href="/pets/<%= pet.id %>/edit" role="button">Edit</a>
					<form id="button-delete" action="/pets/<%= pet.id %>?_method=DELETE" method="POST">
					  <button class="btn btn-default" type="submit">DELETE</button>
					</form>
				</div><br>
			</div>
		<% }) %>
	<% } %>
</div>





<% include partials/_footer %>


