
<% include partials/_header %>
<% include partials/_nav %>

<!-- <div class="container">
  <div class="show-div">
    <div class="show-image">
      <h3>Pet info</h3>
      <img src="<%= pet.picture %>" alt="<%= pet.name %>" class="img-thumbnail">
    </div>
  <h3><%= pet.category %> <%= pet.type %></h3>
  <b>Details</b>: <%= pet.sex %>, <%= pet.size %>, <%= pet.breed %>, <%= pet.color %><br>
  <b>Pet Name</b>: <%= pet.name %><br>
  <b>Location</b>: <%= pet.street %><br>
  <b>City, State</b>: <%= pet.city %>, <%= pet.state %><br>
  <b>Contact</b>: <%= pet.contact %><br>
  <b>Description</b>: <%= pet.description %><br>
  <a class="btn btn-default" href="/pets/<%= pet.id %>/edit" role="button">Edit</a>
  <form id="button-delete" action="/pets/<%= pet.id %>?_method=DELETE" method="POST">
    <button class="btn btn-default" type="submit">DELETE</button>
  </form>
  </div>
</div>

<div id="show-map"></div>
 -->





<!-- <div class="container"> -->

  <!-- <div class="row"> -->

  <h3>Pet info</h3>
  <div class="col-sm-4 col-md-4">
    <div class="thumbnail">
      <img src="<%= pet.picture %>" alt="<%= pet.name %>" class="img-thumbnail">
      <div class="caption">
        <h3><%= pet.category %> <%= pet.type %></h3>
        <b>Details</b>: <%= pet.sex %>, <%= pet.size %>, <%= pet.breed %>, <%= pet.color %><br>
        <b>Pet Name</b>: <%= pet.name %><br>
        <b>Location</b>: <%= pet.street %><br>
        <b>City, State</b>: <%= pet.city %>, <%= pet.state %><br>
        <b>Contact</b>: <%= pet.contact %><br>
        <b>Description</b>: <%= pet.description %><br>
        <a class="btn btn-default" href="/pets/<%= pet.id %>/edit" role="button">Edit</a>
        <form id="button-delete" action="/pets/<%= pet.id %>?_method=DELETE" method="POST">
          <button class="btn btn-default" type="submit">DELETE</button>
        </form>
      </div>
    </div>
  </div>

  <div id="show-map"></div>
  <!-- </div> -->
<!-- </div> -->

<script>
	let map;

  var icons = {
    lost: "http://i.imgur.com/oZZ0HQr.gif",
    found: "http://i.imgur.com/JVNOMSN.gif"
  }

  function initMap() {
    map = new google.maps.Map(document.getElementById('show-map'), {
      center: {lat: <%=pet.lat%>, lng: <%=pet.long%>},
      zoom: 10,
      scrollwheel: false,
      styles:[{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#46bcec"},{"visibility":"on"}]}]
    });
    let marker = new google.maps.Marker({
	    position: new google.maps.LatLng(<%=pet.lat%>, <%=pet.long%>),
	    map: map,
	    animation: google.maps.Animation.DROP,
	    icon: '<%= pet.category %>' === 'Lost'? icons.lost : icons.found
  	});
  let infowindow = new google.maps.InfoWindow();
  google.maps.event.addListener(marker, 'click', (function(marker) {
    return function() {
      infowindow.setContent(contentString);
      infowindow.open(map, marker);
    }
  })(marker));
  }

  var contentString =
    `<div class="thumbnail">
      <div class="caption">
        <h3><%=pet.category%> <%=pet.type%></h3>
          <p>
						<%=pet.street%><br>
						<%=pet.city%>, <%=pet.state%><br>
						<%=pet.contact%><br>
					</p>
        	<img src="<%=pet.picture%>">
        	<a class="btn btn-default" href="/pets/<%=pet._id%>" role="button">Show</a>
      </div>
    </div>`;


</script>

<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfnS36x2Vwqg3SJmJe-rt53pHBtL_ygbM&callback=initMap" defer></script>

<% include partials/_footer %>
