
<% include partials/_header %>
<% include partials/_nav %>

<div class="container">
  <h1>Pet info</h1>

  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="thumbnail">
        <img src="<%= pet.picture %>" alt="<%= pet.name %>" class="img-thumbnail">
        <div class="caption">
          <b>Category</b>: <%= pet.category %><br>
          <b>Type</b>: <%= pet.type %><br>
          <b>Sex</b>: <%= pet.sex %><br>
          <b>Size</b>: <%= pet.size %><br>
          <b>Name</b>: <%= pet.name %><br>
          <b>Breed</b>: <%= pet.breed %><br>
          <b>Color</b>: <%= pet.color %><br>
          <b>Age</b>: <%= pet.age %><br>
          <b>Location</b>: <%= pet.location %><br>
          <b>Description</b>: <%= pet.description %><br><br>
          <a class="btn btn-default" href="/pets/<%= pet.id %>/edit" role="button">Edit</a><br>
        </div>
      </div>
    </div>
  </div>

</div>

<% include partials/_footer %>
